<h1>Threesuns</h1>

<div id="accordion">
	<div>
		<h2><a href="#">You just won't believe how vastly, hugely, mind- bogglingly big it is.</a></h2>
		<ul>
			<li><%= link_to 'International Space Station (ISS) Viewing iCal Feeds', iss_viewing_index_path %></li>
			<li><%= link_to 'Scale Model of Our Solar System', :controller => 'scale', :action => 'solarsystem' %></li>
		</ul>
	</div>
</div>